<ion-header>
  <ion-toolbar>
    <ion-title>pln</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Pembayaran Listrik</ion-list-header>
    <ion-item>
      <ion-label>Nomor Pelanggan:</ion-label>
      <ion-input placeholder="3311xxxx"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Bulan</ion-label>
      <ion-select placeholder="---">
        <ion-select-option value="1">Januari</ion-select-option>
        <ion-select-option value="2">Februari</ion-select-option>
        <ion-select-option value="3">Maret</ion-select-option>
        <ion-select-option value="4">April</ion-select-option>
        <ion-select-option value="5">Mei</ion-select-option>
        <ion-select-option value="6">Juni</ion-select-option>
        <ion-select-option value="7">Juli</ion-select-option>
        <ion-select-option value="8">Agustus</ion-select-option>
        <ion-select-option value="9">September</ion-select-option>
        <ion-select-option value="10">Oktober</ion-select-option>
        <ion-select-option value="11">November</ion-select-option>\
        <ion-select-option value="12">Desember</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Tahun</ion-label>
      <ion-select placeholder="---">
        <ion-select-option value="2019">2019</ion-select-option>
        <ion-select-option value="2020">2020</ion-select-option>
        <ion-select-option value="2021">2021</ion-select-option>
        <ion-select-option value="2022">2022</ion-select-option>
        <ion-select-option value="2023">2023</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button shape="round" expand="block" href="#">OK</ion-button>
</ion-content>
