<ion-header>
    <ion-toolbar>
      <ion-title>
        Akun
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/avatar.png">
      </ion-avatar>
      <ion-label>
        <ion-text color="danger">
          <h2>RIZKI KHALIL</h2>
        </ion-text>
      </ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-text color="primary">
        <p>No.Hp: 085263153435 </p>
        <p>Email: Rizki.khalil73@gmail.com </p>
        <p>Address: Jl.Ahmad Yani, Batam Kota </p>
      </ion-text>
    </ion-card-content>

    <!-- <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="cash"> </ion-icon>
            <br>
            <p>Saldo</p>
          </ion-col>
          <ion-col>
            <ion-icon name="card"></ion-icon>
            <br>
            <p>Credits</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content> -->
  </ion-content>